@import '_setting.scss';

$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 4px;

$list-bg-color: #ebdcf0;
$common-element-bg: rgba(255, 255, 255, 0.5);

.board-content {
	display: flex;
	overflow-x: auto;
	margin: 0 $gap $gap;
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	&::-webkit-scrollbar:horizontal {
		height: 11px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $common-element-bg;
		border-radius: 8px;
	}
}
